pre {
  font-family: sans-serif;
}
ion-title {
  text-align: center;
}
ion-item{
  max-width: 600px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}
ion-card {
  max-width: 600px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}
#buton {
  max-width: 100px;
}
