ion-card {
  max-width: 600px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  padding: 0px;
}
ion-img {
  max-height: 45vh;
  overflow: hidden;
}
ion-card-header {
  padding: 2px;
}
