<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{typeOfMenu}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let menuItem of menuItems; let i = index">
    <ion-card color="primary" color="light" (click)="goToItem()">
      <ion-img src="{{menuItem.photo}}"></ion-img>
      <ion-card-title>
        {{menuItem.name}}
      </ion-card-title>
    </ion-card>
  </ion-list>
</ion-content>
