<ion-header>
  <ion-toolbar text-center>
    <ion-button slot="start" (click)="goBack()" fill="clear">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>
      {{typeOfMenu}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let menuItem of menuItems; let i = index">
    <ion-card color="primary" color="light" (click)="goToItem()">
      <ion-img src="{{menuItem.photo}}"></ion-img>
      <ion-card-title>
        {{menuItem.name}} $ {{menuItem.price}}
      </ion-card-title>
    </ion-card>
  </ion-list>
</ion-content>
