<ion-header>
  <ion-toolbar text-center>
    <ion-button slot="start" (click)="goBack()" color="light" fill="clear">
      <ion-icon name="arrow-back" color="dark" slot="start"></ion-icon>
    </ion-button>
    <ion-title>
      {{typeOfMenu}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let menuItem of menuItems">
    <ion-item color="primary" color="light">
      <ion-img src="{{menuItem.photo}}"></ion-img>
      <ion-label>
        {{menuItem.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
