<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" fill="clear">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let orderItem of currOrder.items">
    <ion-title>{{orderItem.name}}</ion-title>
  </ion-item>
  <ion-text>
    Total Items: {{currOrder.totalItems}}<br>
    Total Price: $ {{currOrder.totalPrice}}
  </ion-text>
</ion-content>
