<ion-header text-center>
  <ion-toolbar>
    <ion-title style="font-size: 200%; font-weight: bold;">{{restaurantName}}</ion-title>
    <ion-text>{{restaurantLocation}}</ion-text>
    <ion-button slot="end" (click)="signUp()">
      Sign Up
      <ion-icon slot="start" name="person-add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="back">
    <div id="action">
      <ion-card>
        <ion-item color="light">
          <ion-icon slot="start" name="mail" size="large" color="tertiary"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input required [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item color="light">
          <ion-icon slot="start" name="key" size="large" color="tertiary"></ion-icon>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-card>
      <ion-row>
        <ion-col text-center>
          <ion-button color="tertiary" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button color="light" (click)="loginGoogle()">
            Login
            <ion-icon slot="start" name="logo-google"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div id="des">
      <ion-text color="light">{{restaurantDescription}}</ion-text>
    </div>
  </div>
</ion-content>
