<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" fill="clear">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>{{post.thePost.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="content">
    <ion-slides pager=true>
      <ion-slide *ngFor="let img of post.thePost.images" style="width: 100%">
        <ion-img src="{{img}}" imageViewer></ion-img>
      </ion-slide>
    </ion-slides>
    <ion-label>{{post.thePost.description}}</ion-label><br>
    <ion-text style="font-weight: bold;">
      $ {{post.thePost.price | number:'1.2-2'}}
    </ion-text>
    <ion-row>
      <ion-col text-center>
        <ion-button style="text-transform: none;" (click)="contactProvider()">
          Contact Provider
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
