<ion-header>
  <ion-toolbar text-center>
    <ion-button slot="start" (click)="goBack()" fill="clear">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="mail" size="large" color="tertiary"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email">
      </ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="person" size="large" color="tertiary"></ion-icon>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="name">
      </ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="person-add" size="large" color="tertiary"></ion-icon>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username">
      </ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="calendar" size="large" color="tertiary"></ion-icon>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY MMMM DD" max="2001" [(ngModel)]="birthDate"></ion-datetime>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="person-add" size="large" color="tertiary"></ion-icon>
      <pre>User Type: </pre>
      <ion-label position="floating">User Type</ion-label>
      <ion-select slot="end" [(ngModel)]="userType" interface="alert">
        <ion-select-option>Visitor</ion-select-option>
        <ion-select-option>Store Owner</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="key" size="large" color="tertiary"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password">
      </ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="key" size="large" color="tertiary"></ion-icon>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword">
      </ion-input>
    </ion-item>
  </ion-card>
  <ion-row>
    <ion-col text-center>
      <ion-button (click)="signUp()">Sign Up</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
