#content {
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
ion-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
ion-fab {
  padding-right: 25px;
  padding-bottom: 25px;
}
