#content {
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
ion-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
ion-fab {
  padding-right: 25px;
  padding-bottom: 25px;
}
ion-badge {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
ion-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --padding-start: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
#profile {
  max-width: 40px;
  max-height: 40px;
  --border-radius: 15px;
}
