#content {
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
ion-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
ion-fab {
  padding-right: 25px;
  padding-bottom: 25px;
}
ion-badge {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
ion-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --padding-start: 0;
  --box-shadow: 10px;
}
#profile {
  max-width: 30px;
  max-height: 30px;
  --border-radius: 12.5px;
}
ion-content{
  --background: none;
  background-image: radial-gradient(white, white, white, rgba(0,0,0,1));
}
ion-header{
  --ion-background-color: linear-gradient(to right,cornflowerblue, darkturquoise);
}
