<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="viewMessages()">
      <ion-icon name="chatboxes" slot="end" color="light" size="large">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
      <ion-refresher-content> -->
      <div *ngFor="let post of recentPosts" style="padding-top: 0; padding-bottom: 15px;">
        <div *ngIf="post.thePost.active">
          <ion-button fill="clear" style="height: 42.5px; padding-top: 0; padding-bottom: 0;" (click)="goToProfile(post.thePost.uid)">
            <ion-avatar slot="start" style="top: 50%; position: relative;transform: translateY(-15%);">
              <ion-img id="profile" src="{{post.profile.ProfilePic}}"></ion-img>
            </ion-avatar>
            <ion-label slot="start" color="dark" style="font-size: 12pt; text-transform: none;">
              {{post.profile.Name}}
            </ion-label>
          </ion-button>
          <ion-item id="op" (click)="goToPost(post)">
            <div style="width: 100%;">
              <ion-slides pager="true" style="width: 100%;">
                <ion-slide *ngFor="let img of post.thePost.images" style="width: 100%;">
                  <ion-img src="{{img}}" style="width: 100%;"></ion-img>
                </ion-slide>
              </ion-slides>
              <ion-card-title>{{post.thePost.title}}</ion-card-title>
              <ion-label>{{post.thePost.description}}</ion-label>
              <ion-text style="font-weight: bold;">
                $ {{post.thePost.price | number:'1.2-2'}}
              </ion-text>
            </div>
          </ion-item>
        </div>
      </div>
      <!-- </ion-refresher-content>
    </ion-refresher> -->
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="newPost()">
      <ion-badge vertical="bottom" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-badge>
      <ion-icon name="md-create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
