
#lc {
  width: 50%;
  left: 0;
  position: absolute;
}
#rc {
  width: 50%;
  right: 0;
  position: absolute
}
#himg {
  width: 100%;
}
#tool {
  display: table;
  width: 100%;
}
.bigI {
  display: table-cel;
  width: 10%;
}
.midI {
  display: table-cell;
  width: 53%;
}
.endI {
  display: table-cell;
  width: 9%;
}
.endIn {
  display: table-cell;
  width: 10%;
}
#g {
  display: table;
  width: 100%;
}
#gg {
  display: table-cell;
  width: 70%;
}
#gf {
  display: table-cell;
  width: 16%;
}
#gs {
  display: table-cell;
  width: 14%;
}
#kid {
  width: 100%;
}
.rImg {
  width: 100%;
}
#lImg {
  width: 100%;
}
#tab {
  width: 100%;
  display: table;
}
.tabPic {
  display: table-cell;
  width: 36%;
}
.tabPicMid {
  display: table-cell;
  width: 28%;
}
