<ion-content>
<ion-header>
  <img src="/assets/img11.png" id="himg">
  <ion-toolbar>
    <div id="tool">
      <div class="bigI">
        <img src="/assets/img12.png" style="width:100%">
      </div>
      <div class="midI">
        <img src="/assets/img13.png" style="width:100%">
      </div>
      <div class="endI">
        <img src="/assets/img14.png" style="width:100%">
      </div>
      <div class="endI">
        <img src="/assets/img15.png" style="width:100%">
      </div>
      <div class="endIn">
        <img src="/assets/img16.png" style="width:100%">
      </div>
      <div class="endI">
        <img src="/assets/img17.png" style="width:100%">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<div id="g">
  <div id="gg">
    <img src="/assets/img18.png" style="width:100%">
  </div>
  <div id="gf">
    <img src="/assets/img19.png" style="width:100%">
  </div>
  <div id="gs">
    <img src="/assets/img20.png" style="width:100%">
  </div>
</div>
<div>
  <img src="/assets/img21.png" id="kid">
</div>
<div id="tab">
  <div class="tabPic">
    <img src="/assets/img22.png" style="width:100%">
  </div>
  <div class="tabPicMid">
    <img src="/assets/img23.png" style="width:100%">
  </div>
  <div class="tabPic">
    <img src="/assets/img24.png" style="width:100%">
  </div>
</div>
  <div id="lc">
    <img src="/assets/img25.png" id="lImg">
  </div>
  <div id="rc">
    <img src="/assets/img26.png" class="rImg"><br>
    <img src="/assets/img27.png" class="rImg">
  </div>
</ion-content>
