#content {
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  position: relative;
}
ion-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

ion-content{
  --background: none;
  background-image: url('/assets/loginPic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}