ion-card {
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding-left: 0px;
}
ion-img {
  max-height: 45vh;
  overflow: hidden;
}
ion-content {
  overflow-x: scroll;
}
