#content {
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
ion-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
ion-badge {
  padding-bottom: 0;
  padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
}
ion-img {
  height: 22vh;
}
ion-button {
  text-transform: none;
}
ion-content{
  --background: none;
  background-image: linear-gradient(to right, rgb(78, 176, 233), lightblue);
}
ion-header{
  --ion-background-color: linear-gradient(to right, lightblue,rgb(78, 176, 233) );
}