<ion-header>
  <ion-toolbar>
    <ion-button color="light" id="add">
      <ion-icon slot="start" name="add-circle-outline" color="primary"></ion-icon>
      <p>Add</p>
    </ion-button>
    <ion-button color="light" id="del" slot="end">
      <ion-icon slot="start" name="close-circle-outline" color="primary"></ion-icon>
      <p>Delete</p>
    </ion-button>
  </ion-toolbar>
  <ion-title id="header">
    Class (Spring 2016)
  </ion-title>
</ion-header>
<ion-toolbar>
  <ion-button class="regButton" color="light">
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="filing"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="star"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="chatbubbles"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="help-circle-outline"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="podium"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="contact"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="contacts"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="clipboard"></ion-icon>
  </ion-button>
  <ion-button class="regButton" color="light">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>
</ion-toolbar>
<ion-content>
  <ion-list>
    <ion-item color="light">
      <ion-label>CSCE206 Scientific Applications Programming</ion-label>
      <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
    </ion-item>
    <ion-item color="light">
      <ion-label>CSCE590 Topic: Mobile Application Developement</ion-label>
      <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar id="foot">
    <ion-button class="iconButton" color="light">
      <ion-icon name="home" size="large"></ion-icon>
    </ion-button>
    <ion-button class="iconButton" color="light">
      <ion-icon name="easel" size="large"></ion-icon>
    </ion-button>
    <ion-button class="iconButton" color="light">
      <ion-icon name="chatboxes" size="large"></ion-icon>
    </ion-button>
    <ion-button class="iconButton" color="light">
      <ion-icon name="checkbox-outline" size="large"></ion-icon>
    </ion-button>
    <ion-button class="iconButton" color="light">
      <ion-icon name="contact" size="large"></ion-icon>
    </ion-button>
    <ion-button class="iconButton" color="light">
      <ion-icon name="more" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
