<ion-header>
  <ion-toolbar>
    <ion-menu-button color="dark" *ngIf="!other"></ion-menu-button>
    <ion-button *ngIf="other" slot="start" (click)="goBack()" fill="clear">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title>
      Account Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <ion-card>
      <ion-img src="{{userProfilePic}}"></ion-img>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-text><pre>Name:        {{userName}}</pre></ion-text>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-text><pre>Birth Date:  {{userBirthDate}}</pre></ion-text>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
