ion-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
ion-header {
  --ion-background-color: linear-gradient(to right,cornflowerblue, darkturquoise);
}
#content {
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
